# Application
APP_NAME=Pterodactyl
APP_ENV=production
APP_DEBUG=false
APP_URL=http://panel.example.com
APP_TIMEZONE=UTC
APP_LOCALE=en
APP_KEY=

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=panel
DB_USERNAME=pterodactyl
DB_PASSWORD=
DATABASE_URL="mysql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}"

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0

# Session
SESSION_DRIVER=database
SESSION_LIFETIME=720
SESSION_COOKIE=pterodactyl_session
SESSION_SECURE_COOKIE=
SESSION_SAME_SITE=lax

# Hashids
HASHIDS_SALT=
HASHIDS_LENGTH=8

# Mail
MAIL_HOST=smtp.example.com
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME="Pterodactyl Panel"

# Rate Limiting
APP_API_CLIENT_RATELIMIT=256
APP_API_APPLICATION_RATELIMIT=256

# Pterodactyl
APP_SERVICE_AUTHOR=unknown@unknown.com
APP_2FA_REQUIRED=0
APP_ENVIRONMENT_ONLY=true
PTERODACTYL_TELEMETRY_ENABLED=true
PTERODACTYL_CLIENT_DATABASES_ENABLED=true
PTERODACTYL_CLIENT_DATABASES_ALLOW_RANDOM=true
PTERODACTYL_CLIENT_ALLOCATIONS_ENABLED=false

# Server
PORT=3000
